<h3>Visitor Form</h3>

<%= form_for(@visitor) do |f| %>
  <label>Visitor first name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Visitor last name</label><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>